<div class="container d-flex align-items-center justify-content-center" style="height: 75vh;">
    <div class="card" style="width: 50%; height: 60%;">
      <div class="card-header text-center">
        <h2 class="card-title mb-3">Menu Admin</h2>
        <img src="../images/nozama-logo.png" alt="Logo" class="logo-img mb-3" height="80" width="125">
        <h3>Bonjour, 'insert admin name'</h3>
      </div>
      <div class="card-body d-flex flex-column justify-content-evenly">
        <a href="/usagers/portail" class="btn btn-primary">Portail administrateur</a>
        <a href="/usagers/liste" class="btn btn-primary">Liste des usagers</a>
        <a href="/" class="btn btn-secondary">Page d'accueil</a>
      </div>
    </div>
  </div>
  