<div
  class="container d-flex align-items-center justify-content-center"
  style="height: 75vh"
>
  <div class="card" style="width: 50%; height: 60%">
    <div class="card-header text-center">
      <h2 class="card-title mb-3">Menu Gestion</h2>
      <img
        src="../images/nozama-logo.png"
        alt="Logo"
        class="logo-img mb-3"
        height="80"
        width="125"
      />
      <h3>Bonjour, 'insert gestion name'</h3>
    </div>
    <div class="card-body d-flex flex-column justify-content-evenly">
      <button
        class="btn btn-primary"
        onclick="window.location.href='/produits/ajouter'"
      >
        Ajouter un produit
      </button>
      <button class="btn btn-primary" onclick="window.location.href='/'">
        Page d'accueil
      </button>
    </div>
  </div>
</div>
